{% extends 'base.html.twig' %}

{% block title %}About us{% endblock %}

{% block body %}
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero eu velit fermentum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero eu velit fermentum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in libero eu velit fermentum.</p>
{% endblock %}
