{% extends 'base.html.twig' %}

{% block title %}Liste des Idées{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>All wishes!</h1>
        <ul class="list-group">
            {% for wish in wishes %}
                <li class="list-group-item">
                    <a href="{{ path('app_wish_detail', { 'id': wish.id }) }}">{{ wish.title }}</a>
                    <span class="text-muted">par {{ wish.author }} - le {{ wish.dateCreated|date('d/m/Y H:i') }}</span>
                </li>
            {% else %}
                <li class="list-group-item">Aucune idée disponible pour le moment.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
